#rodape {            
            min-width: 100%;
            position: absolute;
            bottom: 0;
	}

#form   {

            margin-left: 30px;

        }

#form-busca {
                padding: 0 0 0 0;
                margin: 3px 0 0 0;
    
            }

#administracao{
                 padding: 0 0 0 0;
                 margin: 0 20px 30px 0;
              }

#direitos_reservados{
                         width: 25%;
                         padding: 0 0 0 0;
                         margin: 0 0px 30px 20px;
                     }

 #form-adm{
              margin-left: 15px;  
          }
 #contato{
              margin-right: 560px;  
          }