#rodape {
            
            min-width: 100%;
            position: absolute;
            bottom: 0;
	}

#form   {

            margin-left: 15px;

        }

#form-busca {
                padding: 0 0 0 0;
                margin: 3px 0 0 0;
    
            }

